# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / Packaged
dist/
build/
*.egg-info/

# Environments
.env
.venv/
env/
venv/

# Tool Outputs & Logs
automation.log
*.txt
*.json
*.csv
*.xml
*.html

# OS specific files
.DS_Store
Thumbs.db